<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ampleCART | terms and conditions</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <div>
        <div class="container-fluid" style="justify-content:center; width:50%;">
            <h1 style="font-family: cursive; margin-top: 30px;">Terms of Service</h1><br>
            <p>Below are our Terms of Service, which outline a lot of legal goodies, but the bottom line is it’s our aim
                to always take care of both you, as a customer, or as a seller on our platform. We’ve included many of
                these terms to legally protect ourselves, but if you have an issue, always feel free to email us at
                <span style="color: blue;">amplecart204@gmail.com</span>
                and we’ll do our best to resolve it in a fair and timely fashion.<br></p>
            <h6>Application of Terms</h6>
            1. By visiting and/or taking any action on ampleCART product, you confirm that you are in agreement with and
            bound by the terms outlined below. These terms apply to the website, emails, or any other
            communication.<br><br>
            <h6>Themes</h6>
            1. All products are 100% digital and delivered electronically to your email.<br>
            2. amplecart is not responsible for you not receiving your token if you fail to provide a valid email or for
            technical issues outside our control.<br><br>

            <h6>Security & Payments</h6>
            1. All payments are processed securely through PayPal or with your wallet amount. amplecart does not
            directly process payments through the website.<br><br>
            <h6>Refunds</h6>
            1. There is no refund policy. If your purchase fails to meet expectations set by the seller, or is
            critically flawed in some way, contact amplecart and we will issue a full refund pending a review. And the
            amount will be refunded.
            2. The issue of refunds is at the complete discretion of amplecart.<br><br>
            <h6>Support</h6>
            1. Support for a purchase is governed by the usage license you purchase.<br><br>
            <h6>Ownership</h6>
            1. Ownership of the product is governed by the usage licenses.<br><br>
            <h6>Membership & Content</h6>
            1. Membership is a benefit for those who follow our terms and policies. We may at any time suspend or
            terminate your account.
            2. We can view and/or remove any content for any reason at our own discretion. This will typically only be
            exercised for issues needing immediate resolution, such as, but not limited to, the posting of unauthorized
            content, offensive content, illegal content, or anything breaching anyone else’s rights.<br><br>
            <h6>Liability</h6>
            1. You indemnify us against all losses, costs (including legal costs), expenses, demands or liability that
            we incur arising out of, or in connection with, any claims against us relating to your use of amplecart
            products.<br><br>
            <h6>Requesting, Modifying or Deleting Your Data (GDPR)</h6>
            1. We are a small operation, but we work hard to make sure your data remains safe and we only collect what
            is needed to provide our services. If you want to request an export of your data, a modification to any data
            we have related to your account, or delete of all data permanently, please email amplecart204@gmail.com and
            we’ll complete your request in a timely manner.<br><br>
            <h6>Changes to terms</h6>
            1. If we change our terms of use we will post those changes on this page.

        </div>
    </div>




</body>

</html>